:root {
    --black: #202020;
    --dkGrey: #3f3f3f; 
    --medGrey: #707070;
    /* --eggYellow: #FFDF6C; */
    --eggYellow: rgba(255, 223, 108, .9);
  }
  *,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body{
    padding: 4rem;
    background-color: var(--dkGrey);
    
}
.col-all{
    width: 100%;
}
.col2{
    width: 20%;
}
.col6{
    width: 60%;
}
.journalEntry{
    background-color: white;
}
.journalEntry_fieldset{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.pastEntry{
    margin: 2rem;
    font-size: 1.5rem;
    background-color: var(--eggYellow);
    overflow: hidden;
}
.pastEntry{
    background-color: var(--eggYellow);
}
p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
}
.journalEntry_fieldset{
background-color: var(--eggYellow);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    color: white;
    width: 100%;
    height: 10rem;
}

.todaysDate{
    font-size: 1.6rem;
    width:10%;
    color:white;
}
hr{
    background-color: var(--eggYellow);
    color: var(--eggYellow);
}
.header_img{
    width: 100%;
    height: auto;
    opacity: .7;
    object-fit: fill;
}
.content{
    display:flex;
    flex-direction: column;
}
.newEntry{
    margin: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.pastJournalEntries{
    margin-top: 1rem;
    margin-bottom: 1rem;
}